.mainView {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 98vh;
  color: white;
}

.mainView div {
  box-sizing: border-box;
}

.mainView .leftSection {
  flex: 1 1 70%;
}

.mainView .leftSection .VideoPreviewContainer {
  height: 70vh;
  background-color: #1a1a1d;
}

.mainView .leftSection .ControlsContainer {
  height: 27vh;
  background-color: #1a1a1d;
  margin-top: 10px;
}

.mainView .rightSection {
  flex: 1 1 30%;
}

.mainView .rightSection .ScreensContainer {
  height: 30vh;
  overflow-y: auto;
  background-color: #1a1a1d;
}

.mainView .rightSection .RecordingsContainer {
  height: 67vh;
  background-color: #1a1a1d;
  margin-top: 10px;
}
